
h3 {
    text-align: center;
    /* padding-top: 10px;
    padding-bottom: 10px; */
}

textarea {
    height: 100px;
}

form {
    padding-bottom: 20px;
   
    
}


.form-control {
    border-radius: 20px;
}



label {
    background-color:#6a7075;
    padding: 10px;
    border-radius: 10px;
    opacity: 0.8;
    color:  whitesmoke;
    font-weight: bolder;
}

h3 span {
 /* background-color: beige; */
 background-color:#4e4e4a;
 opacity: 0.7;
 color: white;
 padding: 10px;
 border-radius: 10px;
 
}

h3 {
    padding-bottom: 20px;

}